<article>
  <p>
    I'm software developer from from Poland. I live and study in Warsaw. I
    aspire to be web developer in future. My favorite programming languages are
    javascript and C++. Currently I'm learning Angular2+, but I've used ReactJS
    in the past.
  </p>
  <p>
    In my free time I enjoy playing chess. I play chess for 18 years. During my
    childhood I've participated in many tournaments. To stay in shape I do road
    cycling and from time to time I go to the gym.
  </p>
</article>
